@import "compass";

// font-family
$baseFontFamily :"游ゴシック",
YuGothic,
"メイリオ",
Verdana,
"Hiragino Kaku Gothic ProN",
Meiryo,
sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

@mixin container($padding: 10px 20px) {
  padding: $padding;

}


/* Base
------------------------------------------------------------*/

html {
  font-size: 62.5%;
}

body {
  color: $fontColor;
  font-size: 1.4rem;
  font-family: $baseFontFamily;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}


/* header
------------------------------------------------------------*/

header {
  background-image: url("../image/wanko.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}


/* main
------------------------------------------------------------*/

section {
  @include container;

  &#about {}

  &#lineup {
    background-color: #eeeeee;
    padding: 10px 0px;
    .box {
        background-color: $baseColor;
      width: 90%;
      margin: 30px auto;

      h4 {
        background-color: $keyColor;
        color: $baseColor;
        font-weight: bold;
        text-align: center;
        font-size: 1.6rem;
      }

      p {
        padding: 10px;
      }

    }
  }

}

/* footer
------------------------------------------------------------*/

footer {
  padding-bottom: 20px;
  #contact {
    @include container;
  }

  #button {

    @include container;
    text-align: center;

    .fl_tw2 {
      /*ボタンの背景*/
      color: #FFF;
      /*文字・アイコン色*/
      border-radius: 7px;
      /*角丸に*/
      display: inline-block;
      height: 50px;
      /*高さ*/
      width: 70%;
      /*幅*/
      text-align: center;
      /*中身を中央寄せ*/
      font-size: 1.6rem;
      /*文字のサイズ*/
      line-height: 50px;
      /*高さと合わせる*/
      vertical-align: middle;
      /*垂直中央寄せ*/
      background: #1da1f3;
      overflow: hidden;
      /*はみ出た部分を隠す*/
      text-decoration: none;
      /*下線は消す*/
      .fa-twitter {
        text-shadow: 2px 2px 0px #4287d6;
        font-size: 2rem;
      }

      span {
        /*テキスト*/
        display: inline-block;
        transition: .5s
      }

    }
  }
}


// desktop
@media (min-width: 768px) {
  
  
/* header
------------------------------------------------------------*/

header {
  height: 500px;
}


/* main
------------------------------------------------------------*/

section {


  &#lineup {
    
  display: -webkit-flex;
  display:         flex;

    
    .box {
width:30%;
    }
  }

}
  
  
  
/* footer
------------------------------------------------------------*/

footer {
  #button {
    .fl_tw2 {
      &:hover span {
        /*ホバーで一周回転*/
        -webkit-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        transform: rotateX(360deg);
      }
    }
  }
}

  
  
}